.main-header {
  margin: 10px 0 0;
  text-align: center;
  color: #fff;
  opacity: 90%;
}

.main-functions-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
  background-color: #121212;
  margin: 10px auto 32px;
  width: 90%;
  border-radius: 8px;
}

.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.search-input {
  width: 450px;
  height: 32px;
  border-radius: 15px;
  font-size: 16px;
}

.search-input:focus {
  outline: none;
}

.clear-button {
  width: 100px;
  height: 32px;
  border-radius: 10px;
  border: none;
  background-color: #432c2c;
  color: #fff;
  font-size: 1em;
}

.main-button {
  margin: 20px 0;
  display: block;
  width: 150px;
  height: 36px;
  font-size: 1em;
  border: none;
  border-radius: 10px;
  background-color: #432c2c;
  color: #fff;
}

.main-button:hover {
  cursor: pointer;
  background-color: #362424;
  transition: 0.2s ease-in-out;
}

.clear-button:hover {
  cursor: pointer;
  background-color: #382828;
  transition: 0.2s ease-in-out;
}

.search-button:hover {
  cursor: pointer;
  background-color: #6e1717;
  transition: 0.2s ease-in-out;
}

.back-to-home {
  width: 130px;
  height: 36px;
  border-radius: 10px;
  border: none;
  background-color: #432c2c;
  color: #fff;
  font-size: 1em;
}

.back-to-home:hover {
  cursor: pointer;
  background-color: #362424;
}

.game-background-image {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  opacity: 40%;
  margin: auto;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
