.game-details-container {
  margin: 16px 32px 0;
  color: #fff;
}

.game-details-image {
  margin: 0;
}

.btn-goto-games {
  width: 130px;
  height: 36px;
  border-radius: 10px;
  border: none;
  background-color: #e02d2d;
  color: #fff;
  font-size: 1em;
  display: block;
  margin-top: 16px;
}

.btn-goto-games:hover {
  cursor: pointer;
  background-color: #a41d1d;
}
