.default-card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 350px;
    height: 409px;
    background-color: #fff;
    border-radius: 25px;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.25);
}

.default-card-text {
    font-size: 36px;
    font-weight: 600;
    color: #000;
    text-align: center;
}