.home {
  margin: 0 72px 0;
  color: #fff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #181818;
  border-radius: 8px;
  padding: 0 16px;
  margin-top: 16px;
}

.right-navbar {
  display: flex;
  gap: 64px;
}

.left-navbar {
  display: flex;
  gap: 72px;
}
.nav-links {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: none;
}

.home-login-btn,
.sign-in-btn {
  text-align: center;
}

.home-login-btn {
  padding: 0.5rem 1rem;
  color: #e1e1e1;
  font-weight: 500;
  border-radius: 0.5rem;
  background-color: #4f46e5; /* indigo-600 */
  transition: background 0.3s, box-shadow 0.3s;
  border: none;
  cursor: pointer;
  margin: 0.2rem 0;
}

.sign-up-btn {
  padding: 0.5rem 1rem;
  color: #e1e1e1;
  font-weight: 500;
  border-radius: 8px;
  background-color: #35ab47;
  border: none;
  cursor: pointer;
  margin: 0.2rem 0;
}

.home-login-btn:hover {
  background-color: #433dc0;
}

.sign-up-btn:hover {
  background-color: #2b8c39;
}

.game-image {
  width: 600px;
  height: 275px;
  margin: 0;
}

.games-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-icon {
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 0;
}

.nav-logout-btn {
  padding: 12px;
  background: #c73636;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.nav-logout-btn:hover {
  background-color: #7d0707;
  cursor: pointer;
}

.logged-in-right-navbar {
  display: flex;
  align-items: center;
  gap: 32px;
}

.not-logged-in-right-navbar {
  display: flex;
  align-items: center;
  gap: 72px;
}
