.home {
    margin: 0 72px 0;
    color: #fff;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 72px;
}

.nav-links {
    display: flex;
    gap: 72px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
}

.nav-links a:hover {
    color: #ff3737;
    text-decoration: none;
}


.game-image {
    width: 600px;
    height: 275px;
    margin: 0;
}

.games-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}